body{
  color:brown;
  background-color: hsl(2, 57%, 40%);
  background-image: -webkit-repeating-linear-gradient(transparent,
                                              transparent 50px,
                                              rgba(0,0,0,.4) 50px,
                                              rgba(0,0,0,.4) 53px,
                                              transparent 53px,
                                              transparent 63px,
                                              rgba(0, 0, 0, .4) 63px,
                                              rgba(0, 0, 0, .4) 66px,
                                              transparent 66px,
                                              transparent 116px,
                                              rgba(0, 0, 0, .5) 116px,
                                              rgba(0, 0, 0,.5) 166px,
                                              rgba(255, 255, 255, .2) 166px,
                                              rgba(255, 255, 255, .2) 169px,
                                              rgba(0, 0, 0, .5) 169px,
                                              rgba(0, 0, 0, .5) 179px,
                                              rgba(255, 255, 255, .2) 179px,
                                              rgba(255, 255, 255, .2) 182px,
                                              rgba(0, 0, 0, .5) 182px,
                                              rgba(0, 0, 0, .5) 232px,
                                              transparent 232px),
                    -webkit-repeating-linear-gradient(180deg,
                                              transparent,
                                              transparent 50px,
                                              rgba(0, 0, 0, .4) 50px,
                                              rgba(0, 0, 0, .4) 53px,
                                              transparent 53px,
                                              transparent 63px,
                                              rgba(0, 0, 0, .4) 63px,
                                              rgba(0, 0, 0, .4) 66px,
                                              transparent 66px,
                                              transparent 116px,
                                              rgba(0, 0, 0, .5) 116px,
                                              rgba(0, 0, 0, .5) 166px,
                                              rgba(255, 255, 255, .2) 166px,
                                              rgba(255, 255, 255, .2) 169px,
                                              rgba(0, 0, 0, .5) 169px,
                                              rgba(0, 0, 0, .5) 179px,
                                              rgba(255, 255, 255, .2) 179px,
                                              rgba(255, 255, 255, .2) 182px,
                                              rgba(0, 0, 0, .5) 182px,
                                              rgba(0, 0, 0, .5) 232px,
                                              transparent 232px),
                    -webkit-repeating-linear-gradient(-35deg,
                                              transparent,
                                              transparent 2px,
                                              rgba(0, 0, 0, .2) 2px,
                                              rgba(0, 0, 0, .2) 3px,
                                              transparent 3px,
                                              transparent 5px,
                                              rgba(0, 0,0,.2) 5px);
}

h1, h2, h3{
  text-align:center;
}

h1{
  color:purple;
}

h2{
  color:orange;
}

h3{
  color:blue;
}

#main{
  overflow:auto;
  width:100%;
}

section.left{
  float:left;
  width:30%;
  margin-right:40px;
  background-color:rgba(255,255,255,0.65);
}

section.right{
  float:right;
  width:30%;
  background-color:#46473B;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(44%,#b5bdc8), color-stop(56%,#828c95), color-stop(100%,#28343b));
  background: -webkit-linear-gradient(top, #b5bdc8 44%,#828c95 56%,#28343b 100%);
  height:400px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:80px;
  /* css3 */
  text-shadow: 0px 1px 1px #4d4d4d;
  color: #222;
}

article{
  margin:auto;
  width:50%;
}

/* pseudo-selectors */
ul :nth-child(2n-1), ol :nth-child(2n-1){
 background-color:#C6C6C6; 
}

ul{
  list-style-type: circle;
}

a{
  text-decoration:none;
}

li a.pink{
  color:#FC0585;
}

.scroll{
  background-color:black;
  color:white;
  border:5px dashed brown;
  padding:5px;
  position:fixed;
  top:50px;
  right: 30px;
<<<<<<< HEAD
/* css3 */
  border-radius:12px;
  box-shadow:5px 5px 5px #000;
=======
>>>>>>> Move all styles into 'main.css'
}

p span.bold{
  font-weight:bold;
  color:red;
}

img{
   width:180px;
   height:200px;
   display:block;
   margin:auto;
}
